<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>RPnCommandProxy</servlet-name>
        <servlet-class>rpnmediator.RPnCommandProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnCommandProxy</servlet-name>
        <url-pattern>/rpncommandproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnMasterAckProxy</servlet-name>
        <servlet-class>rpnmediator.RPnMasterAckProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnMasterAckProxy</servlet-name>
        <url-pattern>/rpnmasterackproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnMasterReqProxy</servlet-name>
        <servlet-class>rpnmediator.RPnMasterReqProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnMasterReqProxy</servlet-name>
        <url-pattern>/rpnmasterreqproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnSlaveAckProxy</servlet-name>
        <servlet-class>rpnmediator.RPnSlaveAckProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnSlaveAckProxy</servlet-name>
        <url-pattern>/rpnslaveackproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnSlaveReqProxy</servlet-name>
        <servlet-class>rpnmediator.RPnSlaveReqProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnSlaveReqProxy</servlet-name>
        <url-pattern>/rpnslavereqproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnMasterQueueProxy</servlet-name>
        <servlet-class>rpnmediator.RPnMasterQueueProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnMasterQueueProxy</servlet-name>
        <url-pattern>/rpnmasterqueueproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnPublishProxy</servlet-name>
        <servlet-class>rpnmediator.RPnPublishProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnPublishProxy</servlet-name>
        <url-pattern>/rpnpublishproxy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RPnSendProxy</servlet-name>
        <servlet-class>rpnmediator.RPnSendProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet-mapping>
        <servlet-name>RPnSendProxy</servlet-name>
        <url-pattern>/rpnsendproxy</url-pattern>
    </servlet-mapping>

</web-app>
